.textBlock {
  background-color: gray;
  margin: 10px 0;
  padding: 0.9rem;
  border-radius: 0.2rem;
  white-space: pre-wrap;
  position: relative;
}

.textBlock .content {
  max-height: 100px;
  overflow-y: scroll;
  border-bottom: 1px solid white;
  padding-bottom: 0.3rem;
}

.textBlock h3 {
  margin: 0;
  padding: 0.2rem 0;
  margin-bottom: 0.2rem;
  position: relative;
  width: 100%;
  min-height: 2rem;
  font-size: 1.3rem;
}

.btn_show {
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
}
.btn_show:hover {
  background-color: darkslategrey;
  color: white;
}

.btn_delete {
  position: absolute;
  right: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  padding: 0.4rem;
}
.btn_delete:hover {
  background-color: darkred;
  color: white;
}

.btn_delete svg {
  width: 100%;
  height: 100%;
}

.content {
  margin: 0.5rem 0 1rem 0;
}
